:root { 
 --bkground: #121212;
 --scground: #ffff;
 --fontColor: #fff;
 --txtSize: 7em;
 --begColor: #f6c89f;
 --begColor400: #ffdcbe;
 --begColor200: #fff0e2;
 --cian: #4b8e8d;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-style: none;
 list-style-type: none;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
 background: var(--bkground);
 margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
